nav {
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid var(--border);
}

ul {
    list-style: none;
    text-decoration: none;
    color: var(--text);
    display: flex;
    justify-content: space-around;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: hotpink;
    opacity: 0;
    transition:
        opacity 300ms,
        transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2rem, 0);
}

.navbar > ul {
    background-color: rgba(0, 0, 0, 0.2);
}

li .nav-link::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

li .nav-link:hover::after,
li .nav-link:focus::after {
    transform: scale(1);
}
